<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<body class="gray-bg">

<div class="container-div">
    <div class="row col-sm-6">
        <div class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li shiro:hasPermission="quality:afterService:add">
                        <input type="text" id="scanInfo" name="scanInfo">
                        <span style="color: red;font-weight: bold">备注：回车自动录入</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span style="font-size: 14px;color: #002a80" id="scanItem"></span>
                    <span style="font-size: 14px;margin-left: 10px">工单基本信息</span>
                </div>
                <div class="panel-body">
                    <table style="width: 98%;">
                        <tbody>
                        <tr>
                            <td><label>工单号:<span id="work-code">--</span></label></td>
                            <td><label>产品编码:<span id="work-pn-code">--</span></label></td>
                        </tr>
                        <tr>
                            <td><label>产品名称:<span id="work-pn-name">--</span></label></td>
                            <td><label>生产时间:<span id="work-time">--</span></label></td>
                        </tr>
                        <tr>
                            <td><label>工单数量:<span id="work-num">--</span></label></td>
                            <td><label>实际产量:<span id="work-act">--</span></label></td>
                        </tr>
                        <tr>
                            <td><label>退货比:<span id="work-back-info">--</span></label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span style="font-size: 16px">生产该工单小组信息</span><span style="color: #4821ff;margin-left: 5px">备注:橙色背景代表生产该扫码产品的小组信息</span>
                </div>
                <div class="panel-body">
                    <table style="width: 98%;" cellspacing="5">
                        <thead>
                        <tr>
                            <th style="width: 25%">小组名称</th>
                            <th style="width: 25%">分配数量</th>
                            <th style="width: 25%">完成数量</th>
                            <th style="width: 25%">小组员工</th>
                        </tr>
                        </thead>
                        <tbody id="work-group">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <div class="row col-sm-6" style="margin-left: 5px">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <input type="text" id="searchPnMain"/>
                            <a class="btn btn-success btn-sm" onclick="searchPnMain()"><i
                                    class="fa fa-search"></i>查询建档信息</a>
                            <!--<input type="text" id="searchItems" name="searchItems" readonly="readonly"/>-->
                            <!--<input type="hidden" id="inputBatchInfo" name="inputBatchInfo" readonly="readonly"/>-->
                        </li>
                        <li class="select-time">
                            <label>录入时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchData()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="resetForm()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 search-collapse" id="tableSearch" style="display: none">
            <table class="table table-striped table-bordered table-hover" style="margin-top: 5px">
                <thead>
                <tr>
                    <th>搜索条件</th>
                    <th>总数</th>
                    <th>时间</th>
                    <th>录入者</th>
                </tr>
                </thead>
                <tbody id="search-info-data">
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 select-table table-striped" id="tableData">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<script th:inline="javascript">

    var removeFlag = [[${@permission.hasPermi('quality:afterService:add')}]];
    var prefix = ctx + "quality/afterService";

    $(function () {
        initTableData();
    });

    /**
     * 监测回车事件提交数据提交数据
     */
    $('#scanInfo').keyup(function (e) {
        if (e.keyCode == 13) {
            if ($.validate.form()) {
                var scanInfo = $.common.trim($("#scanInfo").val());
                var data = {
                    inputBatchInfo: scanInfo,
                }
                addSave(prefix + "/add", data, scanInfo);
            }
        }
    });

    /**
     * 查询建档信息
     */
    function searchPnMain() {
        var pnMain = $.common.trim($("#searchPnMain").val());
        if ($.common.isEmpty(searchPnMain)) {
            $.modal.alertWarning("请输入建档信息");
            return;
        }
        $.post(prefix + "/searchPnMain", {pnMain: pnMain}, function (res) {
            if (res.code == web_status.SUCCESS) {
                if (res.data) {
                    refreshScanData(res.data,pnMain);
                }
            } else {
                $.modal.alertError(res.msg);
            }
        })
    }

    /**
     * 扫码确认录入
     */
    function addSave(url, data, scanInfo) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    $("#scanInfo").val('');
                    // 刷新数据
                    if (result.data) {
                        refreshScanData(result.data,scanInfo);
                    }
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
                $.modal.enable();
            }
        };
        $.ajax(config)
    }

    /**
     * 刷新扫码数据
     */
    function refreshScanData(data,scanInfo) {
        $.table.refresh();
        $("#work-group").children().remove();
        // 更新工单基本信息
        $("#scanItem").text(scanInfo);
        $("#work-code").text(data.workCode);
        $("#work-pn-code").text(data.pnCode);
        $("#work-pn-name").text(data.pnName);
        $("#work-time").text(data.workTime);
        $("#work-num").text(data.workNum);
        $("#work-act").text(data.actNum);
        $("#work-back-info").text(data.backPercent + "%");
        if (data.group) {
            var item1 = data.group;
            var text1 =
                '<tr>' +
                '    <td style="background-color: #e08e0b"><span>' + item1.groupName + '</span></td>' +
                '    <td style="background-color: #e08e0b"><span>' + item1.workNum + '</span></td>' +
                '    <td style="background-color: #e08e0b"><span>' + item1.actualNum + '</span></td>' +
                '    <td style="background-color: #e08e0b"><span>' + item1.userNames + '</span></td>' +
                '</tr>'
            $("#work-group").append(text1);
        }
        if (data.otherGroups && data.otherGroups.length > 0) {
            var item2 = data.otherGroups;
            var item2Length = data.otherGroups.length;
            var item2Data = [];
            for (var i = 0; i < item2Length; i++) {
                var text2 =
                    '<tr>' +
                    '    <td><span>' + item2[i].groupName + '</span></td>' +
                    '    <td><span>' + item2[i].workNum + '</span></td>' +
                    '    <td><span>' + item2[i].actualNum + '</span></td>' +
                    '    <td><span>' + item2[i].userNames + '</span></td>' +
                    '</tr>'
                item2Data.push(text2);
            }
            $("#work-group").append(item2Data);
        }
    }

    /**
     * 添加
     */
    function add() {
        // $.modal.open("添加" + $.table._option.modalName, $.table._option.createUrl, 600, 300);
        openAddServiceInfo("添加" + $.table._option.modalName, $.table._option.createUrl, 600, 300);
    }

    /**
     * 新增搜索条件
     */
    function addSearchItem() {
        var item = $.common.trim($("#item").val());
        if ($.common.isEmpty(item)) {
            $.modal.alertWarning("请填写搜索条件");
            return;
        }
        var searchItem = $.common.trim($("#searchItems").val());
        if ($.common.isEmpty(searchItem)) {
            $("#searchItems").val(item);
        } else {
            $("#searchItems").val(searchItem + "," + item);
        }
        $("#item").val('');
        $("#inputBatchInfo").val('');
    }

    /**
     * 展示table数据
     */
    function initTableData() {
        var searchItem = $.common.trim($("#searchItems").val());
        var inputBatchInfo = $.common.trim($("#inputBatchInfo").val());
        if ($.common.isNotEmpty(searchItem) && $.common.isEmpty(inputBatchInfo)) {
            ajaxSearchData(searchItem);
        } else {
            selectTableData();
        }
    }

    /**
     * 初始化table数据
     */
    function selectTableData() {
        $("#tableData").css("display", "inline-block");
        $("#tableSearch").css("display", "none");
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "售后服务",
            search: false,
            showExport: false,
            showSearch: false,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            queryParams: function (p) {
                var params = {};
                params.beginTime = $("#startTime").val();
                params.endTime = $("#endTime").val();
                var search = {};
                search.params = params;
                search.pageSize = p.limit;
                search.inputBatchInfo = $("#inputBatchInfo").val();
                search.pageNum = p.offset / p.limit + 1;
                search.searchValue = p.search;
                search.orderByColumn = p.sort;
                search.isAsc = p.order;
                return search;
            },
            columns: [
                {
                    field: 'id',
                    title: '售后服务主键',
                    visible: false
                },
                {
                    field: 'inputBatchInfo',
                    title: '退货建档信息',
                    sortable: true,
                    formatter: function (value) {
                        return $.table.tooltip(value, 30);
                    }
                },
                {
                    field: 'inputTime',
                    title: '录入时间',
                    sortable: true
                },
                {
                    field: 'inputUserId',
                    title: '录入者名称',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.inputUserName;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    /**
     * 后台请求数据
     */
    function ajaxSearchData(searchItem) {
        var params = {
            beginTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
        };
        var data = {
            params: params,
            searchItems: searchItem
        };
        var config = {
            url: prefix + "/listBySearchInfo",
            type: "post",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    initSearchData(result.data)
                } else {
                    $("#search-info-data").children().remove();
                    var item = '<tr><td colspan="4" style="text-align: center"><h3>没有对应记录</h3></td></tr>';
                    $("#search-info-data").append(item);
                }
            }
        };
        $.ajax(config)
    }

    /**
     * 请求成功初始化搜索数据
     */
    function initSearchData(data) {
        $("#search-info-data").children().remove();
        if (data && data.length > 0) {
            var size = data.length;
            var item = [];
            var totalNum = 0;
            var userNames = '----';
            var sTime = '--';
            var eTime = '--';
            for (var i = 0; i < size; i++) {
                if (data[i].totalNum > 0) {
                    totalNum = data[i].totalNum;
                } else {
                    totalNum = 0;
                }
                if (data[i].userNames != null) {
                    userNames = data[i].userNames;
                } else {
                    userNames = '----';
                }
                if (data[i].sTime != null) {
                    sTime = data[i].sTime;
                } else {
                    sTime = '--';
                }
                if (data[i].eTime != null) {
                    eTime = data[i].eTime;
                } else {
                    eTime = '--';
                }
                item.push('<tr>' +
                    '<td><a href="javascript:void(0)" onclick="showSearchDetail(this)"><span name="batchItem" style="font-weight: bold;color: blue">' + data[i].searchItem + '</span></a></td>' +
                    '<td><span style="font-weight: bold;color: red">' + totalNum + '</span></td>' +
                    '<td><span>' + sTime + '</span><span>至</span><span>' + eTime + '</span></td>' +
                    '<td><span>' + userNames + '</span></td>' +
                    '</tr>')
            }
            $("#search-info-data").append(item);
        } else {
            var item = '<tr><td colspan="4" style="text-align: center"><h3>没有对应记录</h3></td></tr>';
            $("#search-info-data").append(item);
        }
    }

    /**
     * 表单搜索
     */
    function searchData() {
        var inputBatchInfo = $.common.trim($("#inputBatchInfo").val());
        var searchItem = $.common.trim($("#searchItems").val());
        if ($.common.isNotEmpty(searchItem) && $.common.isEmpty(inputBatchInfo)) {
            ajaxSearchData(searchItem);
            $("#tableData").css("display", "none");
            $("#tableSearch").css("display", "inline-block");
        } else {
            refreshTable();
        }
    }

    /**
     * 刷新表格
     */
    function refreshTable() {
        $("#tableData").css("display", "inline-block");
        var params = $("#bootstrap-table").bootstrapTable('getOptions');
        params.queryParams = function (p) {
            var params = {};
            params.beginTime = $("#startTime").val();
            params.endTime = $("#endTime").val();
            var search = {};
            search.params = params;
            search.inputBatchInfo = $("#inputBatchInfo").val();
            search.pageSize = p.limit;
            search.pageNum = p.offset / p.limit + 1;
            search.searchValue = p.search;
            search.orderByColumn = p.sort;
            search.isAsc = p.order;
            return search;
        }
        $("#bootstrap-table").bootstrapTable('refresh', params);
    }

    /**
     * 表单重置
     */
    function resetForm() {
        $("#formId")[0].reset();
        $("#searchItems").val('')
        $("#inputBatchInfo").val('')
        $("#tableSearch").css("display", "none");
    }

    /**
     * 查看选中的搜索明细
     */
    function showSearchDetail(val) {
        var batchItem = $(val).parent().find("span[name='batchItem']").text();
        $("#searchItems").val(batchItem);
        $("#inputBatchInfo").val(batchItem);
        refreshTable();
    }

    function openAddServiceInfo(title, url, width, height) {
        //如果是移动端，就使用自适应大小弹窗
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        if ($.common.isEmpty(title)) {
            title = false;
        }
        ;
        if ($.common.isEmpty(url)) {
            url = "/404.html";
        }
        ;
        if ($.common.isEmpty(width)) {
            width = 800;
        }
        ;
        if ($.common.isEmpty(height)) {
            height = ($(window).height() - 50);
        }
        ;
        layer.open({
            type: 2,
            area: [width + 'px', height + 'px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: title,
            content: url,
            btn: ['关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function (index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler();
            }
        });
    }
</script>
</body>
</html>